<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102670919556-53vdbdp90pc86naptdkv07rv82fbkggb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102670919556-53vdbdp90pc86naptdkv07rv82fbkggb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMdsjdeFXlrOZOBeAYj1hffyDZLMxNFD8</string>
	<key>GCM_SENDER_ID</key>
	<string>102670919556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneNumberAuthentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-ac97e</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-ac97e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102670919556:ios:114be99c5d81e15885dfd1</string>
</dict>
</plist>